<div class="container credits">
	<h1>NAS mounts</h1>	
	<form class="form-horizontal" data-validate="parsley" action="sources.php" method="post">
		<fieldset>
			<legend>$_title  <span class=" $_hide ">(<button type="submit" class="btn btn-link btn-nobtn" name="delete" value="1">remove this mount</button>)</span></legend>
			<div class="control-group" >
				<label class="control-label" for="nas-name">Source name</label>
				<div class="controls">
					<input class="input-large" class="input-large" type="text" id="nas-name" name="mount[name]" value="$_name" data-trigger="change" placeholder="es: Classical">
					<input type="hidden" name="mount[type]" value="cifs">
					<input type="hidden" name="mount[id]" value="$_id">
					<span class="help-block">The name you want to give to this source. It will appear in your database tree structure</span>
				</div>
			</div>
			<div class="control-group" >
				<label class="control-label" for="nas-ip">IP address</label>
				<div class="controls">
					<input class="input-large" class="input-large" type="text" id="nas-ip" name="mount[address]" value="$_address" data-trigger="change" placeholder="es: 192.168.1.250">
					<span class="help-block">Specify your NAS address</span>
				</div>
			</div>
			<div class="control-group" >
				<label class="control-label" for="nas-dir">Remote directory</label>
				<div class="controls">
					<input class="input-large" class="input-large" type="text" id="nas-dir" name="mount[remotedir]" value="$_remotedir" data-trigger="change" placeholder="es: Music/Classical" >
					<span class="help-block">Specify the directory name on the NAS where to scan music files (case sensitive)</span>
				</div>
			</div>
			<div class="control-group" >
				<label class="control-label" for="nas-usr">Username</label>
				<div class="controls">
					<input class="input-large" class="input-large" type="text" id="nas-usr" name="mount[username]" value="$_username" data-trigger="change" placeholder="user" >
					<span class="help-block">If required, specify username to grant access to the NAS (case sensitive)</span>
				</div>
			</div>
			<div class="control-group" >
				<label class="control-label" for="nas-pasw">Password</label>
				<div class="controls">
					<input class="input-large" class="input-large" type="password" id="nas-pasw" name="mount[password]" value="$_password" placeholder="pass" >
					<span class="help-block">If required, specify password to grant access to the NAS (case sensitive)</span>
				</div>
			</div>
			<p><a href="#notarget" class="show-advanced-config"><i class="icon-plus-sign"></i> <span>show advanced options</span></a></p>
			<div class="advanced-config hide">
				<div class="control-group" >
					<label class="control-label" for="nas-charset">Charset</label>
					<div class="controls">
						<select id="log-level" name="mount[charset]" class="input-large">
							<option value="utf8" $_char_utf8>UTF8 (default)</option>
							<option value="iso8859-1" $_char_iso>ISO 8859-1</option>
						</select>
						<span class="help-block">Change this settings if you experience problems with character encoding</span>
					</div>
				</div>
				<div class="control-group" >
					<label class="control-label" for="nas-rsize">rsize</label>
					<div class="controls">
						<input class="input-large" class="input-large" type="text" id="nas-rsize" name="mount[rsize]" value="$_rsize" data-trigger="change" placeholder="2048" >
						<span class="help-block">Change this settings if you experience problems with music playback (es: pops or clips)</span>
					</div>
				</div>
				<div class="control-group" >
					<label class="control-label" for="nas-wsize">wsize</label>
					<div class="controls">
						<input class="input-large" class="input-large" type="text" id="nas-wsize" name="mount[wsize]" value="$_wsize" data-trigger="change" placeholder="4096" >
						<span class="help-block">Change this settings if you experience problems with music playback (es: pops or clips)</span>
					</div>
				</div>
			</div>
		<fieldset>
		<div class="form-actions">
			<a href="sources.php" class="btn btn-large" data-ajax="false">Cancel</a>
			<button type="submit" class="btn btn-primary btn-large" name="save" value="save">Save mount</button>
		</div>
	</form>
</div>